@model WebApplication1.Models.ErrorPageViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<div>
    <h4>@Model.Title</h4>
    <hr />
    <p>@Model.Message</p>
</div>
<div>
    <a asp-action="Index" asp-controller="Login">切换账号</a>
</div>
